.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin: auto;
    border: 2rem;
    margin: 1rem auto;
}

h1 {
    width: 100%;
    text-align: center;
}

.edit {
    color: rgb(116, 70, 243);
}

.delete {
    color: red;
}

mat-radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}