<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Help desk</mat-card-title>
      <mat-card-subtitle>Meu primeiro projeto fullstack assistido</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
Bem-vindo ao nosso HelpDesk Simplificado! Aqui, mergulhe em uma experiência que une o poder do Spring Boot no backend e a agilidade do Angular no frontend. Explore a facilidade de registrar solicitações, rastrear o progresso e experimentar o suporte de maneira mais intuitiva. Este projeto é um pequeno passo no meu percurso de aprendizado, demonstrando como podemos simplificar e melhorar a interação entre usuários e suporte. Espero que aproveite essa jornada conosco!
      </p>
    </mat-card-content>
  </mat-card>