<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidht">Atualizar Técnico</h1>
        <img class="fullWidht" src="assets/img/tecnico-create.svg" alt="helpdesk - primeiro projeot">

        <section class="section">
            <mat-checkbox (click)="addProfile(0)" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox (click)="addProfile(1)" [checked]="true" class="margin" color="primary">Cliente</mat-checkbox>
            <mat-checkbox (click)="addProfile(2)" class="margin" color="primary">Técnico</mat-checkbox>
        </section>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [formControl]="name" [(ngModel)]="technical.name" name="name" required placeholder="Ex: João da Silva" maxlength="50">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput [formControl]="cpf" [(ngModel)]="technical.cpf" name="cpf" required placeholder="Ex: 000.000.000-00" mask="000.000.000-00">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput [formControl]="email" [(ngModel)]="technical.email" name="email" required placeholder="Ex: exemplo@exemplo.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput [formControl]="password" [(ngModel)]="technical.password" name="password" required placeholder="Ex: 123">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        
        <button (click)="update()" [disabled]="!fieldValidate()" class="fullWidht" mat-flat-button color="primary">Atualizar</button>
        <button class="fullWidht" mat-stroked-button color="warn" routerLink="../../">Cancelar</button>

    </form>
    <p class="fullWidht">by Clóvis Júnior</p>
</div>