<div class="container">
    <form class="form mat-elevation-z4">
        <h1>helpdesk - meu primeiro projeto</h1>

        <img src="assets/img/login-image.svg" alt="helpdesk login">
        <mat-form-field class="full-width">
            <mat-label>E-Mail</mat-label>
            <input [(ngModel)]="creds.email" name="email" matInput placeholder="Ex: exemplo@exemplo.com">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="creds.password" name="password" type="password" matInput placeholder="Ex: 1234">
        </mat-form-field>
        <button class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
    </form>
</div>