<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidht">Cadastrar Técnico</h1>
        <img class="fullWidht" src="assets/img/tecnico-create.svg" alt="helpdesk - primeiro projeot">

        <section class="section">
            <mat-checkbox class="margin">Admin</mat-checkbox>
            <mat-checkbox class="margin">Técnico</mat-checkbox>
            <mat-checkbox class="margin">Cliente</mat-checkbox>
        </section>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex: João da Silva">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex: 12345678992">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="Ex: exemplo@exemplo.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Ex: 123">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        
        <button class="fullWidht" mat-flat-button color="primary">Cadastrar</button>
        <button class="fullWidht" mat-stroked-button color="warn" routerLink="..">Cancelar</button>

    </form>
    <p class="fullWidht">by Clóvis Júnior</p>
</div>